streamlit==1.41.1
pandas==2.2.2
scikit-learn==1.5.1
xgboost==1.6.2
imbalanced-learn==0.12.3
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2
sweetviz==2.3.1
ydata-profiling==4.6.1
flask==2.2.5
scipy==1.13.1
google-generativeai==0.8.5

